@font-face {
	font-family: "service_font4";
	src: url('service_font4.eot');
	src: url('service_font4.eot?#iefix') format('eot'),
		url('service_font4.woff2') format('woff2'),
		url('service_font4.woff') format('woff'),
		url('service_font4.ttf') format('truetype'),
		url('service_font4.svg#service_font4') format('svg');
}

.sf4:before {
	font-family: "service_font4";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.sf4-fb:before {
	content: "\E001";
}

.sf4-google:before {
	content: "\E002";
}

.sf4-mail:before {
	content: "\E003";
}

.sf4-map_point:before {
	content: "\E004";
}

.sf4-phone:before {
	content: "\E005";
}

.sf4-search:before {
	content: "\E006";
}

.sf4-tw:before {
	content: "\E007";
}
