@font-face {
	font-family: "service_test";
	src: url('service_test.eot');
	src: url('service_test.eot?#iefix') format('eot'),
		url('service_test.woff2') format('woff2'),
		url('service_test.woff') format('woff'),
		url('service_test.ttf') format('truetype'),
		url('service_test.svg#service_test') format('svg');
}

.sf6:before {
	font-family: "service_test";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.sf6-calendar:before {
	content: "\E001";
}

.sf6-fb:before {
	content: "\E002";
}

.sf6-fb_old:before {
	content: "\E003";
}

.sf6-google:before {
	content: "\E004";
}

.sf6-mail:before {
	content: "\E005";
}

.sf6-map_point:before {
	content: "\E006";
}

.sf6-phone:before {
	content: "\E007";
}

.sf6-search:before {
	content: "\E008";
}

.sf6-tw:before {
	content: "\E009";
}
