@font-face
	font-family: "OpenSans"
	src: url("../fonts/OpenSans-Regular.ttf") format("truetype")
	font-style: normal
	font-weight: normal
@font-face
	font-family: "OpenSans"
	src: url("../fonts/OpenSans-Bold.ttf") format("truetype")
	font-style: normal
	font-weight: 700
@font-face
	font-family: "OpenSans"
	src: url("../fonts/OpenSans-Italic.ttf") format("truetype")
	font-style: italic
	font-weight: normal
@font-face
	font-family: "OpenSans"
	src: url("../fonts/OpenSans-Light.ttf") format("truetype")
	font-style: normal
	font-weight: 300
@font-face
	font-family: "OpenSans"
	src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype")
	font-style: normal
	font-weight: 600
@font-face
	font-family: "icon"
	src: url('../fonts/myfont.eot')
	src: url('../fonts/myfont.eot?#iefix') format('eot')
	src: url('../fonts/myfont.woff2') format('woff2')
	src: url('../fonts/myfont.woff') format('woff')
	src: url('../fonts/myfont.ttf') format('truetype')
	//src: url('../fonts/myfont.svg#myfont') format('svg')
@font-face
	font-family: "service_font"
	src: url('../fonts/service_font.eot')
	src: url('../fonts/service_font.eot?#iefix') format('eot')
	src: url('../fonts/service_font.woff2') format('woff2')
	src: url('../fonts/service_font.woff') format('woff')
	src: url('../fonts/service_font.ttf') format('truetype')
	//src: url('../fonts/service_font.svg#service_font') format('svg')
@font-face
	font-family: "service_font2"
	src: url('../fonts/service_font2.eot')
	src: url('../fonts/service_font2.eot?#iefix') format('eot')
	src: url('../fonts/service_font2.woff2') format('woff2')
	src: url('../fonts/service_font2.woff') format('woff')
	src: url('../fonts/service_font2.ttf') format('truetype')
	//src: url('../fonts/service_font2.svg#service_font2') format('svg')
@font-face
	font-family: "service_font3"
	src: url('../fonts/service_font3.eot')
	src: url('../fonts/service_font3.eot?#iefix') format('eot')
	src: url('../fonts/service_font3.woff2') format('woff2')
	src: url('../fonts/service_font3.woff') format('woff')
	src: url('../fonts/service_font3.ttf') format('truetype')
	//src: url('../fonts/service_font3.svg#service_font3') format('svg')
@font-face
	font-family: "service_font4"
	src: url('../fonts/service_font4.eot')
	src: url('../fonts/service_font4.eot?#iefix') format('eot')
	src: url('../fonts/service_font4.woff2') format('woff2')
	src: url('../fonts/service_font4.woff') format('woff')
	src: url('../fonts/service_font4.ttf') format('truetype')
	//src: url('service_font4.svg#service_font4') format('svg')
.mf:before 
	font-family: "icon"
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-style: normal
	font-variant: normal
	font-weight: normal
	text-decoration: none
	text-transform: none
.mf-briefcase:before
	content: "\E003"
.mf-fb:before
	content: "\E005"
.mf-google:before
	content: "\E006"
.mf-mail:before
	content: "\E007"
.mf-man1:before
	content: "\E008"
.mf-map_point:before
	content: "\E009"
.mf-pets-container:before
	content: "\E00C"
.mf-phone:before
	content: "\E00D"
.mf-search:before
	content: "\E00E"
.mf-tw:before
	content: "\E010"
.sf:before
	font-family: "service_font"
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-style: normal
	font-variant: normal
	font-weight: normal
	text-decoration: none
	text-transform: none
.sf-arrow_man:before
	content: "\E001"
.sf-cost:before
	content: "\E003"
.sf-monitor:before
	content: "\E005"
.sf-security2:before
	content: "\E007"
.sf-umbrella2:before
	content: "\E008"
.sf2:before
	font-family: "service_font2"
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-style: normal
	font-variant: normal
	font-weight: normal
	text-decoration: none
	text-transform: none
.sf2-brain:before
	content: "\E001"
.sf2-doc_search:before
	content: "\E002"
.sf2-monitor:before
	content: "\E003"
.sf2-open-book:before
	content: "\E004"
.sf3:before
	font-family: "service_font3"
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-style: normal
	font-variant: normal
	font-weight: normal
	text-decoration: none
	text-transform: none
.sf3-open-book:before
	content: "\E001"
.sf4:before
	font-family: "service_font4"
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-style: normal
	font-variant: normal
	font-weight: normal
	text-decoration: none
	text-transform: none
.sf4-fb:before
	content: "\E001"
.sf4-google:before
	content: "\E002"
.sf4-mail:before
	content: "\E003"
.sf4-map_point:before
	content: "\E004"
.sf4-phone:before
	content: "\E005"
.sf4-search:before
	content: "\E006"
.sf4-tw:before
	content: "\E007"