$blue: #20233a
$brown: #835643
$brownText: #915e47
$xs: "(min-width: 319px)"
$_xs: "(max-width: 350px)"
$_s: "(max-width: 575px)"
$s: "(min-width: 575px)"
$sm: "(min-width: 767px)"
$_sm: "(max-width: 766px)"
$md: "(min-width: 1025px)"
$_md: "(max-width: 1024px)"
$lg: "(min-width: 1224px)"
$_lg: "(max-width: 1224px)"
$_xlg: "(max-width: 1700px)"
$xlg: "(min-width: 1700px)"
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	display: none
input[type=text]::-ms-clear
	display: none; width : 0
	height: 0
input[type=text]::-ms-reveal
	display: none
	width : 0
	height: 0
	display: none
input::-webkit-input-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
input::-moz-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
input:-ms-input-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
input:-moz-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
textarea::-webkit-input-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
textarea::-moz-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
textarea:-ms-input-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
textarea:-moz-placeholder
	font-size: 14px
	color: #939393
	font-weight: 600
	font-family: "OpenSans", sans-serif
span.error
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	color: red
	font-size: 14px
	line-height: 52px
	z-index: 2
	user-select: none
	background-color: #ffb8b8
	cursor: pointer
	text-align: center
	border: 1px solid red!important
span.error.clicked
	z-index: -1
input.error, textarea.error
	//border: 1px solid red!important
.popup_wrapper
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: -20
	transition: z-index .3s
	background-color: rgba(6,7,15,.85)
	display: flex
	align-items: center
	justify-content: center
	display: none
	&.opened
		z-index: 100
		display: flex
	.popup_window
		position: fixed
		z-index: 222
		width: 100%
		padding: 50px
		@media #{$_s}
			padding: 50px 20px
		//background-size: 100% 100%
		background-size: cover
		&_mask
			position: absolute
			width: 100%
			height: 100%
			background-color: #fff
			opacity: .8
			z-index: 223
			left: 0
			top: 0
		&_content
			z-index: 224
			position: relative
		.btn_close
			color: #fff
			position: absolute
			right: 0
			top: 15px
			right: 15px
			cursor: pointer
			width: 36px
			height: 36px
			border: 1px solid #d5d5d5
			border-radius: 50%
			z-index: 224
			opacity: .6
			&:hover
				opacity: 1
			img
				position: absolute
				left: 0
				top: 0
				right: 0
				bottom: 0
				margin: auto
		.popup_form
			text-align: center
			margin: 50px auto 0
			.input_wrapper
				margin-bottom: 15px
				input,
				textarea
					display: block
					width: 100%
					height: 52px
					border: 0
					padding: 0 25px
				input
					line-height: 20px
			.main_btn
				margin: 50px auto 0
		p
			font-weight: 300
			color: #333
			font-size: 16px
			line-height: 24px
			text-align: center
			@media #{$_s}
				font-size: 14px!important
				br
					display: none
	&.popup_wrapper_consult
		.popup_window
			max-width: 700px
			background-image: url('../img/popup2_bg_smart.jpg')
			.popup_form
				max-width: 580px
				@media #{$_s}
					margin-top: 15px
				p
					font-size: 14px!important
					br
						display: none
				.main_btn
					width: 100%
					max-width: 300px
					margin: 35px auto 0
					@media #{$_s}
						margin-top: 15px
				fieldset
					float: left
					width: 49%
					margin-right: 2%
					input
						@media #{$_s}
							height: 44px
					@media #{$_s}
						width: 100%
						margin-right: 0
					&:after
						clear: both
						display: table
						content: ""
					span.error
						line-height: 44px
				.textarea_wrapper
					float: left
					height: 186px
					width: 49%
					@media #{$_s}
						width: 100%
						margin-bottom: 0
						height: 80px
					textarea
						resize: none
						height: 100%
						padding: 15px 25px
	&.popup_wrapper_feedback
		.popup_window
			max-width: 500px
			// background-image: url('../img/popup_bg.jpg')
			background-image: url('../img/popup_bg_smart.jpg')
			.popup_form
				max-width: 300px
				.main_btn
					max-width: 235px
	&.popup_wrapper_buy
		.popup_window
			max-width: 500px
			padding: 45px 60px
			background-image: url('../img/popup_bg_smart.jpg')
			@media #{$_s}
				padding: 45px 20px
			.popup_form
				.main_btn
					width: 100%
					max-width: 300px
.clearfix
	height: 1px
	clear: both
	display: table
html
	font-size: 10px
	@media #{$_xlg}
		font-size: 10px
	@media #{$_lg}
		font-size: 8px
	@media #{$_md}
		font-size: 8px
	@media #{$_sm}
		font-size: 7.5px
	@media #{$_xs}
		font-size: 7px
	@media #{$xlg}
		font-size: 10px
	body
		min-width: 320px
		font: 1.8rem "OpenSans", sans-serif
		font-weight: normal
		color: $blue
		position: relative
		margin: 0 auto
		overflow-x: hidden
		p
			font-size: 1.6rem
			line-height: 2.4rem
			@media (max-width: 767px)
				max-width: 500px
				margin-left: auto
				margin-right: auto
			@media #{$_s}
				font-size: 14px
				line-height: 20px
		input,input:focus,select,select:focus,textarea
			outline: none
		a
			color: inherit
			outline: none
			text-decoration: none
		.main_btn
			width: 280px
			color: $brown
			border-radius: 24px
			height: 48px
			border: 2px solid $brownText
			display: block
			line-height: 42px
			text-align: center
			font-size: 18px
			font-weight: 600
			transition: all .2s
			background: none
			&:hover
				background-image: linear-gradient(29deg, #a77762, #bd9e90 49%, #a77762)
				color: #fff
				border: 2px solid transparent
			&.blue_btn
				color: $blue
				border: 2px solid $blue
				&:hover
					color: #fff
					background-image: linear-gradient(29deg, #20233a, #4d516e 49%, #20233a)
					border: 2px solid transparent
		button
			border: 0
			outline: 0
			cursor: pointer
		section
			padding: 6rem 0
			position: relative
			background-position: 50% 0
			background-repeat: no-repeat
			.section_title
				color: $brownText
				text-align: center
				font-size: 3.6rem
				font-weight: 300
				text-transform: uppercase
				margin-bottom: 7rem
				letter-spacing: .1em
			@media #{$_lg}
				font-size: 6rem
			@media #{$_md}
				font-size: 5rem
			&:before
				content: ""
				position: absolute
				width: 100%
				left: 0
				z-index: -5
				background-repeat: no-repeat
				background-position-x: center
			&:after
				display: table
				clear: both
				content: ""
$cols: 12
$col: calc( 100% / #{$cols} )
=col($num)
	@media #{$xs}
		width: calc( #{$col} * #{$num} )
=offset($offset)
		margin-left: calc( #{$col} * #{$offset}
.container
	margin: 0 auto
	position: relative
	&--fluid
		width: 100%!important
		padding: 0!important
		// @media #{$_s}
		// 	padding: 0 20px!important
	&:after
		display: table
		content: ""
		clear: both
	@media #{$xs}
		width: 100%
		padding: 0 20px
	@media #{$sm}
		width: 750px
		padding: 0
	@media #{$md}
		width: 960px
	@media #{$lg}
		width: 1180px
		&--narrow
			width: 980px
.scroll_down
	position: absolute
	left: 0
	right: 0
	margin: auto
	bottom: 22px
	border-radius: 50%
	width: 40px
	height: 40px
	border: 1px solid #000
	opacity: .3
	cursor: pointer
	transition: opacity .2s
	&:hover
		opacity: 1
	img
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		margin: auto
.input_wrapper
	position: relative
	display: block
	&:after
		display: table
		clear: both
		content: ""