.partner
	background-image: url('../img/partner_bg.jpg')
	padding-bottom: 11rem
	top: -3px
	&__content
		display: flex
		justify-content: center
		flex-wrap: wrap
		&__item
			width: 170px
			height: 162px
			border: 1px solid #e6e6e6
			position: relative
			img
				position: absolute
				margin: auto
				top: 0
				left: 0
				right: 0
				bottom: 0