.partner
	background-image: url('../img/partner_bg.jpg')
	padding-bottom: 11rem
	top: -3px
	@media #{$_s}
		background-size: cover
	&__content
		display: flex
		justify-content: center
		flex-wrap: wrap
		@media #{$_xs}
			display: block
		&__item
			width: 170px
			height: 162px
			border: 1px solid #e6e6e6
			position: relative
			@media #{$_xs}
				width: 50%
				float: left
			img
				position: absolute
				margin: auto
				top: 0
				left: 0
				right: 0
				bottom: 0
				//max-height: 70%