.search_page
	.main
		background-image: url("../img/search_bg.jpg")
		background-repeat: no-repeat
		text-align: center
		position: relative
		padding: 0 15px
		background-size: cover
		padding: 25% 15px
		&__text
			color: #908e8e
			cursor: pointer
			display: inline-block
			.search_request
				font-weight: 600
				color: #a3877b
		.container
			position: static
		&__logo
			text-align: left
		&__content
			display: block
			position: absolute
			width: 100%
			text-align: center
			top: 50%
			transform: translateY(-50%)
			left: 0
			height: auto
		&__title
			font-weight: 600
			padding-bottom: 70px
			position: relative
			margin-bottom: 50px
			&:before
				height: 2px
				width: 35px
				content: ""
				left: 0
				right: 0
				margin: auto
				position: absolute
				bottom: 0
				background-color: $blue
		&__edit_search
			position: relative
			max-width: 100%
			width: 580px
			margin: 0 auto
			height: 48px
			opacity: 0
			z-index: -1
			top: -36px
			transition: all .2s
			&.shown
				opacity: 1
				z-index: 1
			input[type="search"]
				border: 2px solid $brownText!important
				border-radius: 24px
				height: 100%
				width: 100%
				padding: 0 30px
				position: absolute
				top: 0
				left: 0
				color: #a3877b
				font-size: 16px
			input[type="submit"]
				z-index: 1
				width: 60px
				height: 100%
				position: absolute
				top: 0
				right: 0
				opacity: 0
				cursor: pointer
			i
				position: absolute
				right: 0
				top: 0
				height: 100%
				width: 60px
				line-height: 45px
				color: $brownText
				opacity: 1!important
				font-size: 24px